[Desktop Entry]
Encoding=UTF-8
Name=Pybliographic Bibliography Manager
Name[hu]=Pybliographic Bibliográfiakezelő
GenericName=Bibliography Manager
GenericName[hu]=Bibliográfiakezelő
Comment=Manage bibliographic databases
Comment[hu]=Bibliográfiai adatbázisok kezelése
Icon=pybliographic.png
Exec=pybliographic
Terminal=false
Type=Application
Categories=GNOME;Application;Office;
StartupNotify=true
